SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PREFISSO](
	[PREFISSO] [smallint] NOT NULL,
	[OPERATORE] [varchar](18) NULL,
 CONSTRAINT [PK__PREFISSO__752333BD8544942F] PRIMARY KEY CLUSTERED 
(
	[PREFISSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SIM](
	[SIM] [varchar](18) NOT NULL,
	[PREFISSO] [smallint] NULL,
	[UTENTE] [varchar](18) NULL,
	[TARIFFA] [varchar](18) NULL,
 CONSTRAINT [PK__SIM__CA195947603A2889] PRIMARY KEY CLUSTERED 
(
	[SIM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [TELEFONATA](
	[NP] [int] NOT NULL,
	[DATA] [datetime] NOT NULL,
	[DA_CHIAMANTE] [varchar](18) NULL,
	[A_CHIAMATA] [varchar](18) NULL,
	[DURATA] [int] NULL,
 CONSTRAINT [PK__TELEFONA__A3E31242DE17F84E] PRIMARY KEY CLUSTERED 
(
	[NP] ASC,
	[DATA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [UTENTE](
	[UTENTE] [varchar](18) NOT NULL,
	[CITTA] [varchar](18) NULL,
PRIMARY KEY CLUSTERED 
(
	[UTENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [PREFISSO] ([PREFISSO], [OPERATORE]) VALUES (118, N'DNIW')
INSERT [PREFISSO] ([PREFISSO], [OPERATORE]) VALUES (120, N'MIT')
INSERT [PREFISSO] ([PREFISSO], [OPERATORE]) VALUES (122, N'MIT')
INSERT [SIM] ([SIM], [PREFISSO], [UTENTE], [TARIFFA]) VALUES (N'!6KS', 144, N'Meta Beemd van den', N'STUDIO')
INSERT [SIM] ([SIM], [PREFISSO], [UTENTE], [TARIFFA]) VALUES (N'*coC', 146, N'Kisha Maldonado', N'STUDIO')
INSERT [SIM] ([SIM], [PREFISSO], [UTENTE], [TARIFFA]) VALUES (N',-7K', 120, N'Tammie Pascalin', N'INTERNET')
INSERT [TELEFONATA] ([NP], [DATA], [DA_CHIAMANTE], [A_CHIAMATA], [DURATA]) VALUES (2, CAST(0x0000A3EA00000000 AS DateTime), N'fkEy', N'S\xM', 438)
INSERT [TELEFONATA] ([NP], [DATA], [DA_CHIAMANTE], [A_CHIAMATA], [DURATA]) VALUES (4, CAST(0x0000A3E700000000 AS DateTime), N'XdUY', N'UKJB', 340)
INSERT [TELEFONATA] ([NP], [DATA], [DA_CHIAMANTE], [A_CHIAMATA], [DURATA]) VALUES (6, CAST(0x0000A3EA00000000 AS DateTime), N'wU.s', N'I[Vo', 632)
GO
INSERT [UTENTE] ([UTENTE], [CITTA]) VALUES (N'Adauta Anderson', N'PZ')
INSERT [UTENTE] ([UTENTE], [CITTA]) VALUES (N'Andrés Vivero', N'PZ')
INSERT [UTENTE] ([UTENTE], [CITTA]) VALUES (N'Artzeina Akers', N'PZ')
ALTER TABLE [SIM]  WITH CHECK ADD  CONSTRAINT [FK__SIM__PREFISSO__239E4DCF] FOREIGN KEY([PREFISSO])
REFERENCES [PREFISSO] ([PREFISSO])
GO
ALTER TABLE [SIM] CHECK CONSTRAINT [FK__SIM__PREFISSO__239E4DCF]
GO
ALTER TABLE [SIM]  WITH CHECK ADD  CONSTRAINT [FK__SIM__UTENTE__24927208] FOREIGN KEY([UTENTE])
REFERENCES [UTENTE] ([UTENTE])
GO
ALTER TABLE [SIM] CHECK CONSTRAINT [FK__SIM__UTENTE__24927208]
GO
ALTER TABLE [TELEFONATA]  WITH CHECK ADD  CONSTRAINT [FK__TELEFONAT__A_CHI__286302EC] FOREIGN KEY([A_CHIAMATA])
REFERENCES [SIM] ([SIM])
GO
ALTER TABLE [TELEFONATA] CHECK CONSTRAINT [FK__TELEFONAT__A_CHI__286302EC]
GO
ALTER TABLE [TELEFONATA]  WITH CHECK ADD  CONSTRAINT [FK__TELEFONAT__DA_CH__276EDEB3] FOREIGN KEY([DA_CHIAMANTE])
REFERENCES [SIM] ([SIM])
GO
ALTER TABLE [TELEFONATA] CHECK CONSTRAINT [FK__TELEFONAT__DA_CH__276EDEB3]
GO
