SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [CITTA](
	[CITTA] VARCHAR(12) NOT NULL,
	[REGIONE] VARCHAR(12) NULL,
	[STATO] VARCHAR(12) NULL,
 CONSTRAINT [PK_CITTA] PRIMARY KEY CLUSTERED 
(
	[CITTA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [CITTA] ([CITTA], [REGIONE], [STATO]) VALUES (N'MO          ', N'ER        ', N'ITALIA    ')
INSERT [CITTA] ([CITTA], [REGIONE], [STATO]) VALUES (N'PZ          ', N'LUCANIA   ', N'ITALIA    ')
INSERT [CITTA] ([CITTA], [REGIONE], [STATO]) VALUES (N'RE          ', N'ER        ', N'ITALIA    ')
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SOCIETA](
	[SOCIETA] [int] NOT NULL,
	[CITTA] VARCHAR(12) NULL,
 CONSTRAINT [PK_BANCA] PRIMARY KEY CLUSTERED 
(
	[SOCIETA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [SOCIETA] ([SOCIETA], [CITTA]) VALUES (10, N'MO          ')
INSERT [SOCIETA] ([SOCIETA], [CITTA]) VALUES (20, N'PZ          ')
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PROPRIETARIO](
	[PROPRIETARIO] [int] NOT NULL,
	[CITTA] VARCHAR(12) NULL,
	[FASCIA_REDDITO] [char](2) NULL,
	[ALIQUOTA_IRPEF] [int] NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[PROPRIETARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [PROPRIETARIO] ([PROPRIETARIO], [CITTA], [FASCIA_REDDITO], [ALIQUOTA_IRPEF]) VALUES (110, N'MO          ', N'L ', 34)
INSERT [PROPRIETARIO] ([PROPRIETARIO], [CITTA], [FASCIA_REDDITO], [ALIQUOTA_IRPEF]) VALUES (210, N'PZ          ', N'A ', 46)
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [IMMOBILE](
	[IMMOBILE] VARCHAR(12) NOT NULL,
	[CITTA] VARCHAR(12) NULL,
	[SOCIETA] [int] NULL,
 CONSTRAINT [PK_IMMOBILE] PRIMARY KEY CLUSTERED 
(
	[IMMOBILE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [IMMOBILE] ([IMMOBILE], [CITTA], [SOCIETA]) VALUES (N'11        ', N'MO          ', 10)
INSERT [IMMOBILE] ([IMMOBILE], [CITTA], [SOCIETA]) VALUES (N'22        ', N'RE          ', 20)
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DITTA](
	[DITTA] [int] NOT NULL,
	[SOCIETA] [int] NULL,
 CONSTRAINT [PK_FILIALE] PRIMARY KEY CLUSTERED 
(
	[DITTA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [DITTA] ([DITTA], [SOCIETA]) VALUES (10, 10)
INSERT [DITTA] ([DITTA], [SOCIETA]) VALUES (20, 20)
INSERT [DITTA] ([DITTA], [SOCIETA]) VALUES (30, 20)
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [APPARTAMENTO](
	[APPARTAMENTO] [int] NOT NULL,
	[IMMOBILE] VARCHAR(12) NULL,
	[PROPRIETARIO] [int] NULL,
 CONSTRAINT [PK_BANKOMAT] PRIMARY KEY CLUSTERED 
(
	[APPARTAMENTO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [APPARTAMENTO] ([APPARTAMENTO], [IMMOBILE], [PROPRIETARIO]) VALUES (1, N'22        ', 110)
INSERT [APPARTAMENTO] ([APPARTAMENTO], [IMMOBILE], [PROPRIETARIO]) VALUES (2, N'11        ', 210)
INSERT [APPARTAMENTO] ([APPARTAMENTO], [IMMOBILE], [PROPRIETARIO]) VALUES (3, N'11        ', 210)
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [RIPARAZIONE](
	[DATA] [int] NOT NULL,
	[APPARTAMENTO] [int] NOT NULL,
	[TIPO] [char](1) NULL,
	[IMPORTO] [float] NULL,
	[%DETRAIBILE] [char](3) NOT NULL,
 CONSTRAINT [PK_RIPARAZIONE] PRIMARY KEY CLUSTERED 
(
	[DATA] ASC,
	[APPARTAMENTO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [RIPARAZIONE] ([DATA], [APPARTAMENTO], [TIPO], [IMPORTO], [%DETRAIBILE]) VALUES (1, 1, N'A', 10, N'12 ')
INSERT [RIPARAZIONE] ([DATA], [APPARTAMENTO], [TIPO], [IMPORTO], [%DETRAIBILE]) VALUES (1, 2, N'A', 11, N'14 ')
INSERT [RIPARAZIONE] ([DATA], [APPARTAMENTO], [TIPO], [IMPORTO], [%DETRAIBILE]) VALUES (1, 3, N'A', 11, N'18 ')
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CON_DITTA](
	[DITTA] [int] NULL,
	[DATA] [int] NOT NULL,
	[APPARTAMENTO] [int] NOT NULL,
 CONSTRAINT [PK_CON_DITTA] PRIMARY KEY CLUSTERED 
(
	[DATA] ASC,
	[APPARTAMENTO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [CON_DITTA] ([DITTA], [DATA], [APPARTAMENTO]) VALUES (30, 1, 2)
INSERT [CON_DITTA] ([DITTA], [DATA], [APPARTAMENTO]) VALUES (30, 1, 3)
INSERT [CON_DITTA] ([DITTA], [DATA], [APPARTAMENTO]) VALUES (20, 3, 3)
ALTER TABLE [APPARTAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_APPARTAMENTO_IMMOBILE] FOREIGN KEY([IMMOBILE])
REFERENCES [IMMOBILE] ([IMMOBILE])
GO
ALTER TABLE [APPARTAMENTO] CHECK CONSTRAINT [FK_APPARTAMENTO_IMMOBILE]
GO
ALTER TABLE [APPARTAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_APPARTAMENTO_PROPRIETARIO] FOREIGN KEY([PROPRIETARIO])
REFERENCES [PROPRIETARIO] ([PROPRIETARIO])
GO
ALTER TABLE [APPARTAMENTO] CHECK CONSTRAINT [FK_APPARTAMENTO_PROPRIETARIO]
GO
ALTER TABLE [CON_DITTA]  WITH NOCHECK ADD  CONSTRAINT [FK_CON_DITTA_DITTA] FOREIGN KEY([DITTA])
REFERENCES [DITTA] ([DITTA])
GO
ALTER TABLE [CON_DITTA] CHECK CONSTRAINT [FK_CON_DITTA_DITTA]
GO
ALTER TABLE [CON_DITTA]  WITH CHECK ADD  CONSTRAINT [FK_CON_DITTA_RIPARAZIONE] FOREIGN KEY([DATA], [APPARTAMENTO])
REFERENCES [RIPARAZIONE] ([DATA], [APPARTAMENTO])
GO
ALTER TABLE [CON_DITTA] CHECK CONSTRAINT [FK_CON_DITTA_RIPARAZIONE]
GO
ALTER TABLE [DITTA]  WITH CHECK ADD  CONSTRAINT [FK_DITTA_SOCIETA] FOREIGN KEY([SOCIETA])
REFERENCES [SOCIETA] ([SOCIETA])
GO
ALTER TABLE [DITTA] CHECK CONSTRAINT [FK_DITTA_SOCIETA]
GO
ALTER TABLE [IMMOBILE]  WITH CHECK ADD  CONSTRAINT [FK_IMMOBILE_CITTA] FOREIGN KEY([CITTA])
REFERENCES [CITTA] ([CITTA])
GO
ALTER TABLE [IMMOBILE] CHECK CONSTRAINT [FK_IMMOBILE_CITTA]
GO
ALTER TABLE [IMMOBILE]  WITH CHECK ADD  CONSTRAINT [FK_IMMOBILE_SOCIETA] FOREIGN KEY([SOCIETA])
REFERENCES [SOCIETA] ([SOCIETA])
GO
ALTER TABLE [IMMOBILE] CHECK CONSTRAINT [FK_IMMOBILE_SOCIETA]
GO
ALTER TABLE [PROPRIETARIO]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_CITTA] FOREIGN KEY([CITTA])
REFERENCES [CITTA] ([CITTA])
GO
ALTER TABLE [PROPRIETARIO] CHECK CONSTRAINT [FK_CLIENTE_CITTA]
GO
ALTER TABLE [RIPARAZIONE]  WITH NOCHECK ADD  CONSTRAINT [FK_OPERAZIONE_BANKOMAT] FOREIGN KEY([APPARTAMENTO])
REFERENCES [APPARTAMENTO] ([APPARTAMENTO])
GO
ALTER TABLE [RIPARAZIONE] CHECK CONSTRAINT [FK_OPERAZIONE_BANKOMAT]
GO
ALTER TABLE [SOCIETA]  WITH CHECK ADD  CONSTRAINT [FK_SOCIETA_CITTA] FOREIGN KEY([CITTA])
REFERENCES [CITTA] ([CITTA])
GO
ALTER TABLE [SOCIETA] CHECK CONSTRAINT [FK_SOCIETA_CITTA]
GO
