SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHEF](
	[CHEF] [varchar](24) NOT NULL,
	[ETA] [smallint] NULL,
	[DIPLOMA] [varchar](12) NULL,
	[SCUOLACULINARIA] [varchar](12) NULL,
 CONSTRAINT [PK__CHEF__F7C2A86D2E40AB6E] PRIMARY KEY CLUSTERED 
(
	[CHEF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRANZO](
	[CP] [varchar](12) NOT NULL,
	[SETTIMANA] [varchar](12) NOT NULL,
	[RISTORANTE] [varchar](12) NOT NULL,
	[CUOCO] [varchar](24) NULL,
	[PREZZO] [float] NULL,
 CONSTRAINT [PK__PRANZO__32149A726CD0F19D] PRIMARY KEY CLUSTERED 
(
	[CP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRANZO_NATALE](
	[CP] [varchar](12) NOT NULL,
	[PASTICCIERE] [varchar](24) NULL,
 CONSTRAINT [PK__PRANZO_N__32149A72F9690CEF] PRIMARY KEY CLUSTERED 
(
	[CP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RISTORANTE](
	[RISTORANTE] [varchar](12) NOT NULL,
	[CITTA] [varchar](12) NULL,
	[REGIONE] [varchar](12) NULL,
	[STATO] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[RISTORANTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SCUOLACULINARIA](
	[SCUOLACULINARIA] [varchar](12) NOT NULL,
	[TIPO] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[SCUOLACULINARIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHEF] ([CHEF], [ETA], [DIPLOMA], [SCUOLACULINARIA]) VALUES (N'Alissa Munaya', 70, N'DC', N'SCUOLA_F')
INSERT [dbo].[CHEF] ([CHEF], [ETA], [DIPLOMA], [SCUOLACULINARIA]) VALUES (N'Aureliana Gasper', 64, N'DC', N'SCUOLA_F')
INSERT [dbo].[CHEF] ([CHEF], [ETA], [DIPLOMA], [SCUOLACULINARIA]) VALUES (N'Casper Zaaijer', 78, N'DE', N'SCUOLA_A')
INSERT [dbo].[PRANZO] ([CP], [SETTIMANA], [RISTORANTE], [CUOCO], [PREZZO]) VALUES (N'10', N'4', N'kc3eW', N'Alissa Munaya', 126)
INSERT [dbo].[PRANZO] ([CP], [SETTIMANA], [RISTORANTE], [CUOCO], [PREZZO]) VALUES (N'100', N'4', N'm)dMPJ5', N'Aureliana Gasper', 94)
INSERT [dbo].[PRANZO] ([CP], [SETTIMANA], [RISTORANTE], [CUOCO], [PREZZO]) VALUES (N'102', N'8', N'weT-', N'Hector Blakeslee', 100)
GO
INSERT [dbo].[PRANZO_NATALE] ([CP], [PASTICCIERE]) VALUES (N'10', N'Alissa Munaya')
INSERT [dbo].[PRANZO_NATALE] ([CP], [PASTICCIERE]) VALUES (N'102', N'Alissa Munaya')
INSERT [dbo].[PRANZO_NATALE] ([CP], [PASTICCIERE]) VALUES (N'116', N'Tarra Cabrera')
INSERT [dbo].[RISTORANTE] ([RISTORANTE], [CITTA], [REGIONE], [STATO]) VALUES (N'!?vVS#1l', N'MO', N'ER', N'ITALIA')
INSERT [dbo].[RISTORANTE] ([RISTORANTE], [CITTA], [REGIONE], [STATO]) VALUES (N'%%x)E', N'BO', N'ER', N'ITALIA')
INSERT [dbo].[RISTORANTE] ([RISTORANTE], [CITTA], [REGIONE], [STATO]) VALUES (N'&[)ZK', N'RE', N'ER', N'ITALIA')
INSERT [dbo].[SCUOLACULINARIA] ([SCUOLACULINARIA], [TIPO]) VALUES (N'SCUOLA_A', N'TIPOX')
INSERT [dbo].[SCUOLACULINARIA] ([SCUOLACULINARIA], [TIPO]) VALUES (N'SCUOLA_B', N'TIPOX')
INSERT [dbo].[SCUOLACULINARIA] ([SCUOLACULINARIA], [TIPO]) VALUES (N'SCUOLA_C', N'TIPOY')
SET ANSI_PADDING ON

GO
ALTER TABLE [dbo].[PRANZO] ADD  CONSTRAINT [UQ__PRANZO__186D677380A9D639] UNIQUE NONCLUSTERED 
(
	[SETTIMANA] ASC,
	[RISTORANTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHEF]  WITH CHECK ADD  CONSTRAINT [FK__CHEF__SCUOLACULI__145C0A3F] FOREIGN KEY([SCUOLACULINARIA])
REFERENCES [dbo].[SCUOLACULINARIA] ([SCUOLACULINARIA])
GO
ALTER TABLE [dbo].[CHEF] CHECK CONSTRAINT [FK__CHEF__SCUOLACULI__145C0A3F]
GO
ALTER TABLE [dbo].[PRANZO]  WITH CHECK ADD  CONSTRAINT [FK__PRANZO__CUOCO__1920BF5C] FOREIGN KEY([CUOCO])
REFERENCES [dbo].[CHEF] ([CHEF])
GO
ALTER TABLE [dbo].[PRANZO] CHECK CONSTRAINT [FK__PRANZO__CUOCO__1920BF5C]
GO
ALTER TABLE [dbo].[PRANZO]  WITH CHECK ADD  CONSTRAINT [FK__PRANZO__RISTORAN__182C9B23] FOREIGN KEY([RISTORANTE])
REFERENCES [dbo].[RISTORANTE] ([RISTORANTE])
GO
ALTER TABLE [dbo].[PRANZO] CHECK CONSTRAINT [FK__PRANZO__RISTORAN__182C9B23]
GO
ALTER TABLE [dbo].[PRANZO_NATALE]  WITH CHECK ADD  CONSTRAINT [FK__PRANZO_NA__PASTI__1CF15040] FOREIGN KEY([PASTICCIERE])
REFERENCES [dbo].[CHEF] ([CHEF])
GO
ALTER TABLE [dbo].[PRANZO_NATALE] CHECK CONSTRAINT [FK__PRANZO_NA__PASTI__1CF15040]
GO
ALTER TABLE [dbo].[PRANZO_NATALE]  WITH CHECK ADD  CONSTRAINT [FK__PRANZO_NATAL__CP__1BFD2C07] FOREIGN KEY([CP])
REFERENCES [dbo].[PRANZO] ([CP])
GO
ALTER TABLE [dbo].[PRANZO_NATALE] CHECK CONSTRAINT [FK__PRANZO_NATAL__CP__1BFD2C07]
GO
