SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ARBITRO](
	[ARBITRO] [nchar](10) NOT NULL,
	[CITTA] [nchar](10) NULL,
	[SESSO] [varchar](1) NOT NULL,
 CONSTRAINT [PK_ARBITRO] PRIMARY KEY CLUSTERED 
(
	[ARBITRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [GIOCATA_IN_CAMPO_NEUTRO](
	[GIORNATA] [int] NOT NULL,
	[SQUADRA_CASA] [nchar](10) NOT NULL,
	[CITTA] [nchar](10) NULL,
 CONSTRAINT [PK_GIOCATA_IN_CAMPO_NEUTRO] PRIMARY KEY CLUSTERED 
(
	[GIORNATA] ASC,
	[SQUADRA_CASA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [GIOCATORE](
	[GIOCATORE] [nchar](10) NOT NULL,
	[RUOLO] [nchar](10) NULL,
	[SQUADRA] [nchar](10) NULL,
 CONSTRAINT [PK_GIOCATORE] PRIMARY KEY CLUSTERED 
(
	[GIOCATORE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PARTITA](
	[GIORNATA] [int] NOT NULL,
	[SQUADRA_CASA] [nchar](10) NOT NULL,
	[SQUADRA_FUORI] [nchar](10) NULL,
	[MESE] [nchar](10) NOT NULL,
	[ARBITRO] [nchar](10) NOT NULL,
	[PREZ_BIGLIETTO] [decimal](4, 2) NULL,
 CONSTRAINT [PK_PARTITA] PRIMARY KEY CLUSTERED 
(
	[GIORNATA] ASC,
	[SQUADRA_CASA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PARTITA_GIOCATA](
	[GIORNATA] [int] NOT NULL,
	[SQUADRA_CASA] [nchar](10) NOT NULL,
	[RETI_CASA] [int] NULL,
	[RETI_FUORI] [int] NULL,
 CONSTRAINT [PK_PARTITA_GIOCATA] PRIMARY KEY CLUSTERED 
(
	[GIORNATA] ASC,
	[SQUADRA_CASA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PRESIDENTE](
	[PRESIDENTE] [nchar](10) NOT NULL,
	[CITTA] [nchar](10) NULL,
 CONSTRAINT [PK_PRESIDENTE] PRIMARY KEY CLUSTERED 
(
	[PRESIDENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SQUADRA](
	[SQUADRA] [nchar](10) NOT NULL,
	[PRESIDENTE] [nchar](10) NULL,
	[CITTA] [nchar](10) NOT NULL,
 CONSTRAINT [PK_SQUADRA] PRIMARY KEY CLUSTERED 
(
	[SQUADRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TOP_PLAYER](
	[GIORNATA] [int] NOT NULL,
	[SQUADRA_CASA] [nchar](10) NOT NULL,
	[TOP_PLAYER] [nchar](10) NULL,
 CONSTRAINT [PK_TOP_PLAYER] PRIMARY KEY CLUSTERED 
(
	[GIORNATA] ASC,
	[SQUADRA_CASA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [ARBITRO] ([ARBITRO], [CITTA], [SESSO]) VALUES (N'A1        ', N'C1        ', N'M')
GO
INSERT [ARBITRO] ([ARBITRO], [CITTA], [SESSO]) VALUES (N'A2        ', N'C2        ', N'M')
GO
INSERT [ARBITRO] ([ARBITRO], [CITTA], [SESSO]) VALUES (N'A3        ', N'C1        ', N'M')
GO
INSERT [GIOCATA_IN_CAMPO_NEUTRO] ([GIORNATA], [SQUADRA_CASA], [CITTA]) VALUES (1, N'F         ', N'C4        ')
GO
INSERT [GIOCATA_IN_CAMPO_NEUTRO] ([GIORNATA], [SQUADRA_CASA], [CITTA]) VALUES (2, N'F         ', N'C4        ')
GO
INSERT [GIOCATORE] ([GIOCATORE], [RUOLO], [SQUADRA]) VALUES (N'ATOP      ', N'A         ', N'A         ')
GO
INSERT [GIOCATORE] ([GIOCATORE], [RUOLO], [SQUADRA]) VALUES (N'BTOP      ', N'A         ', N'B         ')
GO
INSERT [GIOCATORE] ([GIOCATORE], [RUOLO], [SQUADRA]) VALUES (N'ETOP      ', N'C         ', N'E         ')
GO
INSERT [PARTITA] ([GIORNATA], [SQUADRA_CASA], [SQUADRA_FUORI], [MESE], [ARBITRO], [PREZ_BIGLIETTO]) VALUES (1, N'A         ', N'B         ', N'NOV       ', N'A1        ', CAST(10.00 AS Decimal(4, 2)))
GO
INSERT [PARTITA] ([GIORNATA], [SQUADRA_CASA], [SQUADRA_FUORI], [MESE], [ARBITRO], [PREZ_BIGLIETTO]) VALUES (1, N'C         ', N'D         ', N'NOV       ', N'A2        ', CAST(10.00 AS Decimal(4, 2)))
GO
INSERT [PARTITA] ([GIORNATA], [SQUADRA_CASA], [SQUADRA_FUORI], [MESE], [ARBITRO], [PREZ_BIGLIETTO]) VALUES (1, N'F         ', N'E         ', N'NOV       ', N'A3        ', CAST(10.00 AS Decimal(4, 2)))
GO
INSERT [PARTITA_GIOCATA] ([GIORNATA], [SQUADRA_CASA], [RETI_CASA], [RETI_FUORI]) VALUES (1, N'A         ', 1, 0)
GO
INSERT [PARTITA_GIOCATA] ([GIORNATA], [SQUADRA_CASA], [RETI_CASA], [RETI_FUORI]) VALUES (1, N'F         ', 0, 1)
GO
INSERT [PARTITA_GIOCATA] ([GIORNATA], [SQUADRA_CASA], [RETI_CASA], [RETI_FUORI]) VALUES (2, N'B         ', 1, 0)
GO
INSERT [PRESIDENTE] ([PRESIDENTE], [CITTA]) VALUES (N'P1        ', N'C1        ')
GO
INSERT [PRESIDENTE] ([PRESIDENTE], [CITTA]) VALUES (N'P2        ', N'C2        ')
GO
INSERT [PRESIDENTE] ([PRESIDENTE], [CITTA]) VALUES (N'P3        ', N'C1        ')
GO
INSERT [SQUADRA] ([SQUADRA], [PRESIDENTE], [CITTA]) VALUES (N'A         ', NULL, N'C2        ')
GO
INSERT [SQUADRA] ([SQUADRA], [PRESIDENTE], [CITTA]) VALUES (N'B         ', NULL, N'C3        ')
GO
INSERT [SQUADRA] ([SQUADRA], [PRESIDENTE], [CITTA]) VALUES (N'C         ', NULL, N'C1        ')
GO
INSERT [TOP_PLAYER] ([GIORNATA], [SQUADRA_CASA], [TOP_PLAYER]) VALUES (1, N'A         ', N'BTOP      ')
GO
INSERT [TOP_PLAYER] ([GIORNATA], [SQUADRA_CASA], [TOP_PLAYER]) VALUES (1, N'F         ', N'ETOP      ')
GO
INSERT [TOP_PLAYER] ([GIORNATA], [SQUADRA_CASA], [TOP_PLAYER]) VALUES (2, N'D         ', N'ETOP      ')
GO
ALTER TABLE [GIOCATA_IN_CAMPO_NEUTRO]  WITH CHECK ADD  CONSTRAINT [FK_GIOCATA_IN_CAMPO_NEUTRO_PARTITA_GIOCATA] FOREIGN KEY([GIORNATA], [SQUADRA_CASA])
REFERENCES [PARTITA_GIOCATA] ([GIORNATA], [SQUADRA_CASA])
GO
ALTER TABLE [GIOCATA_IN_CAMPO_NEUTRO] CHECK CONSTRAINT [FK_GIOCATA_IN_CAMPO_NEUTRO_PARTITA_GIOCATA]
GO
ALTER TABLE [GIOCATORE]  WITH CHECK ADD  CONSTRAINT [FK_GIOCATORE_SQUADRA] FOREIGN KEY([SQUADRA])
REFERENCES [SQUADRA] ([SQUADRA])
GO
ALTER TABLE [GIOCATORE] CHECK CONSTRAINT [FK_GIOCATORE_SQUADRA]
GO
ALTER TABLE [PARTITA]  WITH CHECK ADD  CONSTRAINT [FK_PARTITA_ARBITRO] FOREIGN KEY([ARBITRO])
REFERENCES [ARBITRO] ([ARBITRO])
GO
ALTER TABLE [PARTITA] CHECK CONSTRAINT [FK_PARTITA_ARBITRO]
GO
ALTER TABLE [PARTITA]  WITH CHECK ADD  CONSTRAINT [FK_PARTITA_SQUADRA] FOREIGN KEY([SQUADRA_CASA])
REFERENCES [SQUADRA] ([SQUADRA])
GO
ALTER TABLE [PARTITA] CHECK CONSTRAINT [FK_PARTITA_SQUADRA]
GO
ALTER TABLE [PARTITA]  WITH CHECK ADD  CONSTRAINT [FK_PARTITA_SQUADRA1] FOREIGN KEY([SQUADRA_FUORI])
REFERENCES [SQUADRA] ([SQUADRA])
GO
ALTER TABLE [PARTITA] CHECK CONSTRAINT [FK_PARTITA_SQUADRA1]
GO
ALTER TABLE [PARTITA_GIOCATA]  WITH CHECK ADD  CONSTRAINT [FK_PARTITA_GIOCATA_PARTITA] FOREIGN KEY([GIORNATA], [SQUADRA_CASA])
REFERENCES [PARTITA] ([GIORNATA], [SQUADRA_CASA])
GO
ALTER TABLE [PARTITA_GIOCATA] CHECK CONSTRAINT [FK_PARTITA_GIOCATA_PARTITA]
GO
ALTER TABLE [SQUADRA]  WITH CHECK ADD  CONSTRAINT [FK_SQUADRA_PRESIDENTE] FOREIGN KEY([PRESIDENTE])
REFERENCES [PRESIDENTE] ([PRESIDENTE])
GO
ALTER TABLE [SQUADRA] CHECK CONSTRAINT [FK_SQUADRA_PRESIDENTE]
GO
ALTER TABLE [TOP_PLAYER]  WITH CHECK ADD  CONSTRAINT [FK_TOP_PLAYER_GIOCATORE] FOREIGN KEY([TOP_PLAYER])
REFERENCES [GIOCATORE] ([GIOCATORE])
GO
ALTER TABLE [TOP_PLAYER] CHECK CONSTRAINT [FK_TOP_PLAYER_GIOCATORE]
GO
ALTER TABLE [TOP_PLAYER]  WITH CHECK ADD  CONSTRAINT [FK_TOP_PLAYER_PARTITA_GIOCATA] FOREIGN KEY([GIORNATA], [SQUADRA_CASA])
REFERENCES [PARTITA_GIOCATA] ([GIORNATA], [SQUADRA_CASA])
GO
ALTER TABLE [TOP_PLAYER] CHECK CONSTRAINT [FK_TOP_PLAYER_PARTITA_GIOCATA]
GO
