SET ANSI_NULLS ON

GO

SET QUOTED_IDENTIFIER ON

GO

SET ANSI_PADDING ON

GO

CREATE TABLE [CORSODILAUREA](

	[CDL] [varchar](10) NOT NULL,

	[TIPO] [varchar](10) NULL,

 CONSTRAINT [PK_CORSODILAUREA] PRIMARY KEY CLUSTERED 

(

	[CDL] ASC

)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

) ON [PRIMARY]

GO

SET ANSI_PADDING OFF

GO

INSERT [CORSODILAUREA] ([CDL], [TIPO]) VALUES (N'INGELE', N'LAUREAM')

INSERT [CORSODILAUREA] ([CDL], [TIPO]) VALUES (N'INGINFL', N'LAUREA')

INSERT [CORSODILAUREA] ([CDL], [TIPO]) VALUES (N'INGINFM', N'LAUREAM')

SET ANSI_NULLS ON

GO

SET QUOTED_IDENTIFIER ON

GO

SET ANSI_PADDING ON

GO

CREATE TABLE [CITTA](

	[CITTA] [varchar](10) NOT NULL,

	[REGIONE] [varchar](10) NULL,

 CONSTRAINT [PK_CITTA] PRIMARY KEY CLUSTERED 

(

	[CITTA] ASC

)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

) ON [PRIMARY]

GO

SET ANSI_PADDING OFF

GO

INSERT [CITTA] ([CITTA], [REGIONE]) VALUES (N'BO', N'ER')

INSERT [CITTA] ([CITTA], [REGIONE]) VALUES (N'MO', N'ER')

INSERT [CITTA] ([CITTA], [REGIONE]) VALUES (N'RE', N'ER')

SET ANSI_NULLS ON

GO

SET QUOTED_IDENTIFIER ON

GO

SET ANSI_PADDING ON

GO

CREATE TABLE [INSEGNAMENTO](

	[COD_INS] [varchar](10) NOT NULL,

	[NOME] [varchar](10) NULL,

	[COD_CDL] [varchar](10) NULL,

	[ANNODICORSO] [varchar](10) NULL,

 CONSTRAINT [PK_INSEGNAMENTO] PRIMARY KEY CLUSTERED 

(

	[COD_INS] ASC

)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

) ON [PRIMARY]

GO

SET ANSI_PADDING OFF

GO

INSERT [INSEGNAMENTO] ([COD_INS], [NOME], [COD_CDL], [ANNODICORSO]) VALUES (N'ANA3', N'ANA3', N'INGINFL', N'PRIMO')

INSERT [INSEGNAMENTO] ([COD_INS], [NOME], [COD_CDL], [ANNODICORSO]) VALUES (N'BIO3', N'BIO3', N'INGINFM', N'PRIMO')

INSERT [INSEGNAMENTO] ([COD_INS], [NOME], [COD_CDL], [ANNODICORSO]) VALUES (N'CHI3', N'CHI3', N'INGINFM', N'PRIMO')





SET ANSI_NULLS ON

GO

SET QUOTED_IDENTIFIER ON

GO

SET ANSI_PADDING ON

GO

CREATE TABLE [DOCENTE](

	[CF] [varchar](10) NOT NULL,

	[NOME] [varchar](10) NULL,

	[RESIDENZA] [varchar](10) NULL,

	[COD_CDL] [varchar](10) NULL,

	[RUOLO] [varchar](10) NOT NULL,

 CONSTRAINT [PK_DOCENTE] PRIMARY KEY CLUSTERED 

(

	[CF] ASC

)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

) ON [PRIMARY]

GO

SET ANSI_PADDING OFF

GO

INSERT [DOCENTE] ([CF], [NOME], [RESIDENZA], [COD_CDL], [RUOLO]) VALUES (N'DOCA', N'DOCA', N'MO', N'INGINFL', N'ORD')

INSERT [DOCENTE] ([CF], [NOME], [RESIDENZA], [COD_CDL], [RUOLO]) VALUES (N'DOCB', N'DOCB', N'MO', N'INGINFL', N'ASS')

INSERT [DOCENTE] ([CF], [NOME], [RESIDENZA], [COD_CDL], [RUOLO]) VALUES (N'DOCC', N'DOCC', N'BO', N'INGELE', N'RIC')




SET ANSI_NULLS ON

GO

SET QUOTED_IDENTIFIER ON

GO

SET ANSI_PADDING ON

GO

CREATE TABLE [DIPARTIMENTO](

	[DIP] [varchar](10) NOT NULL,

	[SEDE] [varchar](10) NULL,

	[CF_DIRETTORE] [varchar](10) NULL,

 CONSTRAINT [PK_DIPARTIMENTO] PRIMARY KEY CLUSTERED 

(

	[DIP] ASC

)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

) ON [PRIMARY]

GO

SET ANSI_PADDING OFF

GO

INSERT [DIPARTIMENTO] ([DIP], [SEDE], [CF_DIRETTORE]) VALUES (N'DIPA', N'RE', N'DOCE')

INSERT [DIPARTIMENTO] ([DIP], [SEDE], [CF_DIRETTORE]) VALUES (N'DIPB', N'MO', N'DOCA')

INSERT [DIPARTIMENTO] ([DIP], [SEDE], [CF_DIRETTORE]) VALUES (N'DIPC', N'RE', N'DOCB')

SET ANSI_NULLS ON

GO

SET QUOTED_IDENTIFIER ON

GO

SET ANSI_PADDING ON

GO

CREATE TABLE [DOCENZA](

	[AA] [varchar](10) NOT NULL,

	[CF_TITOLARE] [varchar](10) NULL,

	[COD_INS] [varchar](10) NOT NULL,

	[SEMESTRE] [varchar](10) NULL,

	[CFU] [int] NULL,

	[NUM_ISCRITTI] [int] NULL,

 CONSTRAINT [PK_DOCENZA] PRIMARY KEY CLUSTERED 

(

	[AA] ASC,

	[COD_INS] ASC

)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

) ON [PRIMARY]

GO

SET ANSI_PADDING OFF

GO

INSERT [DOCENZA] ([AA], [CF_TITOLARE], [COD_INS], [SEMESTRE], [CFU], [NUM_ISCRITTI]) VALUES (N'2010-11', N'DOCB', N'ANA3', N'FIS3', 5, 20)

INSERT [DOCENZA] ([AA], [CF_TITOLARE], [COD_INS], [SEMESTRE], [CFU], [NUM_ISCRITTI]) VALUES (N'2010-11', N'DOCE', N'BIO3', N'FIS3', 5, 40)

INSERT [DOCENZA] ([AA], [CF_TITOLARE], [COD_INS], [SEMESTRE], [CFU], [NUM_ISCRITTI]) VALUES (N'2010-11', N'DOCA', N'CHI3', N'FIS3', 5, 40)



















SET ANSI_NULLS ON

GO

SET QUOTED_IDENTIFIER ON

GO

SET ANSI_PADDING ON

GO

CREATE TABLE [RICERCATORE](

	[CF] [varchar](10) NOT NULL,

	[ETA] [int] NULL,

 CONSTRAINT [PK_RICERCATORE] PRIMARY KEY CLUSTERED 

(

	[CF] ASC

)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

) ON [PRIMARY]

GO

SET ANSI_PADDING OFF

GO

INSERT [RICERCATORE] ([CF], [ETA]) VALUES (N'DOCC', 30)

INSERT [RICERCATORE] ([CF], [ETA]) VALUES (N'DOCD', 31)

INSERT [RICERCATORE] ([CF], [ETA]) VALUES (N'DOCF', 41)

SET ANSI_NULLS ON

GO

SET QUOTED_IDENTIFIER ON

GO

SET ANSI_PADDING ON

GO

CREATE TABLE [LABORATORIO](

	[LAB] [varchar](10) NOT NULL,

	[COD_DIP] [varchar](10) NULL,

	[CF_RESPONSABILE] [varchar](10) NULL,

 CONSTRAINT [PK_LABORATORIO] PRIMARY KEY CLUSTERED 

(

	[LAB] ASC

)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

) ON [PRIMARY]

GO

SET ANSI_PADDING OFF

GO

INSERT [LABORATORIO] ([LAB], [COD_DIP], [CF_RESPONSABILE]) VALUES (N'LABAA', N'DIPA', N'DOCA')

INSERT [LABORATORIO] ([LAB], [COD_DIP], [CF_RESPONSABILE]) VALUES (N'LABAB', N'DIPA', N'DOCE')

INSERT [LABORATORIO] ([LAB], [COD_DIP], [CF_RESPONSABILE]) VALUES (N'LABAC', N'DIPC', N'DOCB')



SET ANSI_NULLS ON

GO

SET QUOTED_IDENTIFIER ON

GO

SET ANSI_PADDING ON

GO

CREATE TABLE [ESERCITAZIONI](

	[AA] [varchar](10) NOT NULL,

	[COD_INS] [varchar](10) NOT NULL,

	[CF_ESERCITATORE] [varchar](10) NULL,

	[COD_LAB] [varchar](10) NULL,

 CONSTRAINT [PK_ESERCITAZIONI] PRIMARY KEY CLUSTERED 

(

	[AA] ASC,

	[COD_INS] ASC

)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

) ON [PRIMARY]

GO

SET ANSI_PADDING OFF

GO

INSERT [ESERCITAZIONI] ([AA], [COD_INS], [CF_ESERCITATORE], [COD_LAB]) VALUES (N'2010-11', N'FIS3', N'DOCF', N'LABAC')

INSERT [ESERCITAZIONI] ([AA], [COD_INS], [CF_ESERCITATORE], [COD_LAB]) VALUES (N'2010-11', N'ING3', N'DOCD', N'LABAB')

INSERT [ESERCITAZIONI] ([AA], [COD_INS], [CF_ESERCITATORE], [COD_LAB]) VALUES (N'2011-12', N'FIS3', N'DOCF', N'LABAC')



ALTER TABLE [DIPARTIMENTO]  WITH CHECK ADD  CONSTRAINT [FK_DIPARTIMENTO_CITTA] FOREIGN KEY([SEDE])

REFERENCES [CITTA] ([CITTA])

GO

ALTER TABLE [DIPARTIMENTO] CHECK CONSTRAINT [FK_DIPARTIMENTO_CITTA]

GO

ALTER TABLE [DIPARTIMENTO]  WITH CHECK ADD  CONSTRAINT [FK_DIPARTIMENTO_DOCENTE] FOREIGN KEY([CF_DIRETTORE])

REFERENCES [DOCENTE] ([CF])

GO

ALTER TABLE [DIPARTIMENTO] CHECK CONSTRAINT [FK_DIPARTIMENTO_DOCENTE]

GO

ALTER TABLE [DOCENTE]  WITH CHECK ADD  CONSTRAINT [FK_DOCENTE_CITTA] FOREIGN KEY([RESIDENZA])

REFERENCES [CITTA] ([CITTA])

GO

ALTER TABLE [DOCENTE] CHECK CONSTRAINT [FK_DOCENTE_CITTA]

GO

ALTER TABLE [DOCENTE]  WITH CHECK ADD  CONSTRAINT [FK_DOCENTE_CORSODILAUREA] FOREIGN KEY([COD_CDL])

REFERENCES [CORSODILAUREA] ([CDL])

GO

ALTER TABLE [DOCENTE] CHECK CONSTRAINT [FK_DOCENTE_CORSODILAUREA]

GO

ALTER TABLE [DOCENZA]  WITH CHECK ADD  CONSTRAINT [FK_DOCENZA_DOCENTE] FOREIGN KEY([CF_TITOLARE])

REFERENCES [DOCENTE] ([CF])

GO

ALTER TABLE [DOCENZA] CHECK CONSTRAINT [FK_DOCENZA_DOCENTE]

GO

ALTER TABLE [DOCENZA]  WITH CHECK ADD  CONSTRAINT [FK_DOCENZA_INSEGNAMENTO] FOREIGN KEY([COD_INS])

REFERENCES [INSEGNAMENTO] ([COD_INS])

GO

ALTER TABLE [DOCENZA] CHECK CONSTRAINT [FK_DOCENZA_INSEGNAMENTO]

GO

ALTER TABLE [ESERCITAZIONI]  WITH CHECK ADD  CONSTRAINT [FK_ESERCITAZIONI_DOCENZA] FOREIGN KEY([AA], [COD_INS])

REFERENCES [DOCENZA] ([AA], [COD_INS])

GO

ALTER TABLE [ESERCITAZIONI] CHECK CONSTRAINT [FK_ESERCITAZIONI_DOCENZA]

GO

ALTER TABLE [ESERCITAZIONI]  WITH CHECK ADD  CONSTRAINT [FK_ESERCITAZIONI_LABORATORIO] FOREIGN KEY([COD_LAB])

REFERENCES [LABORATORIO] ([LAB])

GO

ALTER TABLE [ESERCITAZIONI] CHECK CONSTRAINT [FK_ESERCITAZIONI_LABORATORIO]

GO

ALTER TABLE [ESERCITAZIONI]  WITH CHECK ADD  CONSTRAINT [FK_ESERCITAZIONI_RICERCATORE] FOREIGN KEY([CF_ESERCITATORE])

REFERENCES [RICERCATORE] ([CF])

GO

ALTER TABLE [ESERCITAZIONI] CHECK CONSTRAINT [FK_ESERCITAZIONI_RICERCATORE]

GO

ALTER TABLE [INSEGNAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_INSEGNAMENTO_CORSODILAUREA] FOREIGN KEY([COD_CDL])

REFERENCES [CORSODILAUREA] ([CDL])

GO

ALTER TABLE [INSEGNAMENTO] CHECK CONSTRAINT [FK_INSEGNAMENTO_CORSODILAUREA]

GO

ALTER TABLE [LABORATORIO]  WITH CHECK ADD  CONSTRAINT [FK_LABORATORIO_DIPARTIMENTO] FOREIGN KEY([COD_DIP])

REFERENCES [DIPARTIMENTO] ([DIP])

GO

ALTER TABLE [LABORATORIO] CHECK CONSTRAINT [FK_LABORATORIO_DIPARTIMENTO]

GO

ALTER TABLE [LABORATORIO]  WITH CHECK ADD  CONSTRAINT [FK_LABORATORIO_DOCENTE] FOREIGN KEY([CF_RESPONSABILE])

REFERENCES [DOCENTE] ([CF])

GO

ALTER TABLE [LABORATORIO] CHECK CONSTRAINT [FK_LABORATORIO_DOCENTE]

GO

ALTER TABLE [RICERCATORE]  WITH CHECK ADD  CONSTRAINT [FK_RICERCATORE_DOCENTE] FOREIGN KEY([CF])

REFERENCES [DOCENTE] ([CF])

GO

ALTER TABLE [RICERCATORE] CHECK CONSTRAINT [FK_RICERCATORE_DOCENTE]

GO

